/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-normal), Arial, 'San Francisco', Helvetica, Roboto, sans-serif;
  font-variation-settings: 'wght' var(--font-normal-weight-regular);
  background-color: white;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
}

.header__container {
  background-color: var(--card-bg-color);
  border: var(--card-border-width) solid var(--card-border-color);
  margin-block-start: 100px;
  margin-block-end: 98px;
  inline-size: var(--card-inline-size);
}

.header__text {
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  margin-block-start: 130px;
  margin-block-end: 20px;
  margin-inline: 122.5px;
  font-family: var(--font-accent, sans-serif);
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-block-end: 130px;
  margin-inline: 177.5px;
  font-family: var(--font-accent, sans-serif);
}

.content {
  /* display: flex;
  flex-direction: column; */
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 50px;
}

.story-card {
  background-color: var(--card-bg-color);
  border: var(--card-border-width) solid var(--card-border-color);
  inline-size: var(--card-inline-size);
}

.story h2 {
  font-variation-settings: 'wght' var(--font-normal-weight-header);
  margin: 4px 10px;
}

.article-image-container {
  border-top: var(--card-border-width) solid var(--card-border-color);
  border-bottom: var(--card-border-width) solid var(--card-border-color);
  position: relative;
}

.article-image-container::after {
  content: '</HTML>';
  font-family: var(--font-accent, sans-serif);
  color: rgb(0 0 0 / 0.5);
  position: absolute;
  top: 25px;
  right: 25px;
}

.article-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.button-save-memories {
  display: block;
  margin-inline: auto;
  margin-block-end: 100px;
}