/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-normal), Arial, 'San Francisco', Helvetica, Roboto, sans-serif;
  font-variation-settings: 'wght' var(--font-normal-weight-regular);
  background-color: white;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: center;
}

.header__container {
  background-color: var(--card-bg-color);
  border: var(--card-border-width) solid var(--card-border-color);
  margin-block-start: 100px;
  margin-block-end: 98px;
  inline-size: var(--card-inline-size);
}

.header__text {
  text-transform: uppercase;
  font-size: 65px;
  text-align: center;
  margin-block-start: 130px;
  margin-block-end: 20px;
  margin-inline: 122.5px;
  font-family: var(--font-accent, sans-serif);
}

.header__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin-block-end: 130px;
  margin-inline: 177.5px;
  font-family: var(--font-accent, sans-serif);
}

.content {
  /* display: flex;
  flex-direction: column; */
}

.cards__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 50px;
}

.story-card-item {
  background-color: var(--card-bg-color);
  border: var(--card-border-width) solid var(--card-border-color);
  inline-size: var(--card-inline-size);
}

.story-card {
  font-size: var(--font-size-storycard);
}

.article-item:not(.article-header, .article-image-container) {
  padding-inline: 25px;
  margin-block: 25px;
}

.article-header {
  font-variation-settings: 'wght' var(--font-normal-weight-header);
  font-size: var(--font-size-storycard);
  margin: 4px 10px;
}

.article-image-container {
  border-top: var(--card-border-width) solid var(--card-border-color);
  border-bottom: var(--card-border-width) solid var(--card-border-color);
  position: relative;
}

.article-image-container::after {
  content: '</HTML>';
  font-family: var(--font-accent, sans-serif);
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgb(0 0 0 / 1);
  text-shadow:
    -1px 0 rgba(255, 255, 255, 1),
    0 1px rgb(255, 255, 255, 1),
    1px 0 rgb(255, 255, 255, 1),
    0 -1px rgb(255, 255, 255, 1);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px rgba(255, 255, 255, 1)) or (-webkit-text-stroke: 1px rgba(255, 255, 255, 1))) {
  .article-image-container::after {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
    text-stroke: 1px rgba(255, 255, 255, 1);
    text-shadow: none;
  }
}

.article-image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.article-text p:not(:last-of-type) {
  margin-block-end: 25px;
}

.article-actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

.button {
  font-family: var(--font-accent, sans-serif);
  line-height: 90%;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border: var(--card-border-width) solid var(--card-border-color);
}

.card__like-button {
  padding: 12.5px 5px;
  min-inline-size: 130px;
}

.button-save-memories {
  display: block;
  margin-inline: auto;
  margin-block-end: 100px;
  padding: 20.5px 20px;
}

/* Класс для кнопок, которые делают анимацию заполнения */
.button-fancy-fill {
  position: relative;
}

.button-fancy-fill::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: scale 0.5s ease-in-out;
  transform-origin: left center;
  scale: 0 1;
}

.button-fancy-fill:hover::after {
  scale: 1 1;
}

.button__text {
  color: var(--button-fill-effect-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

/* Класс для кнопок, которые делают анимацию при фокусе через tab */
.button-fancy-outline {
  transition: box-shadow 0.3s ease;
}

.button-fancy-outline:focus {
  outline: none;
}

.button-fancy-outline:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

/* ------ */

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background-color: #fff;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--card-border-color);
  transition: border-color 0.3s ease;
}

/* кнопка-сердечко */
.like-icon {
  block-size: 38px;
  inline-size: 38px;
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--heart-button-color-stroke);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-button-color-stroke);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-button-color-fill);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-button-color-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-button-color-fill);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-button-color-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-button-color-fill);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-beat 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: heart-sparkle 0.3s ease-in 0.3s 1;
}

/* эффекты на изображениях карточек */

.image-effect-sepia {
  filter: sepia(200%);
}
.image-effect-saturate {
  filter: saturate(150%);
}
.image-effect-grayscale {
  filter: grayscale(70);
}
.image-effect-brightness {
  filter: brightness(86%);
}
.image-effect-contrast {
  filter: contrast(5);
}
.image-effect-blur {
  filter: blur(2px);
}
.image-effect-saturate-contrast-brightness {
  filter: saturate(200%);
  filter: contrast(3);
  filter: brightness(80%);
}

/* ------ */