/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --card-bg-color: #fff;
    --card-border-color: #000;
    --card-border-width: 2px;
    --card-inline-size: clamp(375px, 50%, 700px);
}