/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --card-bg-color: #fff;
    --card-border-color: #000;
    --card-border-width: 2px;
    --card-inline-size: clamp(375px, 50%, 700px);

    --font-normal: 'Inter-Variable';
    --font-accent: 'PressStart2P';
    --font-normal-weight-regular: 410;
    --font-normal-weight-header: 715;
    --font-size-storycard: 18px;

    --bg-gradient: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        transparent 2px 4px
    ),
    repeating-linear-gradient(
        to bottom, 
        #d3d3d3 0 2px,
        transparent 2px 4px
    ),
    linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a 100%
    );
    
    --button-fill-effect-color: #fff; /* Цвет для текста у кнопок с анимацией и mix-blend-mode: difference. 
    Обычным кнопкам противопоказан. */
}